
* {
    margin: 0; 
    padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #c5c5c5; 
    text-decoration: none;
}

.logo {
    transition: .7s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.logo:hover {
    transform:scale(400%) translateY(25%) translateX(25%)
}

.welcome-section img {
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
    opacity: .8;
}

.welcome-section img:hover {
    opacity: .5;
}

.carousel-section img {
    object-fit: cover;
}


.card {
    background-color: #19191999;
    color: #c5c5c5; 
}
.card p {
    color: #c3c3c3; 
}

.faq-block {
}

.faq-question {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff; /* white border */
    border-radius: 50px; /* rounded corners */
    cursor: pointer;
    font-weight: bold; /* make question headings bold */
    color: #dda500; /* bright yellow for question headings */
    padding: 5px;
    padding-left: 2%; /* some padding on the left */
}
.faq-answer {
    padding-left: 4%; /* some padding on the left */
    color: #fff; /* darker gray color for answers */
    transition: opacity .5s, max-height .3s; /* adjust the duration as needed */
    overflow: hidden;
    max-height: 500px; /* set a maximum height for the transition */
}
.collapsed {
    opacity: 0;
    max-height: 0;
    border: 0;
    margin: 0;
}

.faq-answer p {
    margin-bottom: 10px; /* some margin between paragraphs */
}



#canvas1 {
    position:fixed;
    top: 0px; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(#2e2e2e, #191919);
}
#canvas2 {
    position:fixed;
    top: 60px; left: 50%;
    transform: translate(-50%, 500px);
    width: 400px;
    height: 400px;
    z-index: 1;
    background: #191919;
}